{% extends "base.html" %}
{% block content %}

<h1>GameMath</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>

<!-- post form -->
<h3>Upload a Game!</h3>
<br>
<form class="form-message" enctype="multipart/form-data" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <p>
    {{ form.title(placeholder="title") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.game(placeholder="game") }}
    <span class="error">
      {% if form.game.errors %}
        {% for error in form.game.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Upload</button>
</form>

<!-- All posts -->
<h3>Exercises</h3>
<table style="width:100%">
  <tr>
    <th> <strong> Games </strong> </th>
    <th>  <strong> Score </strong> </th>
    <th>  <strong> Download </strong> </th>
  </tr>
{% for post in posts %}
  <tr>
    <td> {{ post.title }} </td>
    <td> {{ post.author_id }} </td>
    {% if post.game %}
      <td> <a href="{{ post.game_name }}" download="{{post.game_name}}"> {{post.game_name}} </a> </td>
    {% else %}
      <td> N/A </td>
    {% endif %}
  </tr>
{% endfor %}
</table>

{% endblock %}